@charset "UTF-8";
/* reset */
a{text-decoration:none; color:#5D5C5C;}
body{font:normal  12px  "돋움",Arial, Helvetica, sans-serif; background-color:#000; }

#wrap{width:1024px; margin:0 auto;}

/* header */
#top{width:1024px; height:150px; background:#000; position:relative;}
#top #popup{width:300px; height:300px; position:absolute; top:140px; left:0; background:url(../images/popup.png) no-repeat; z-index:1;}
#top #popup p{position:absolute; bottom:8px; right:40px;}
#top #popup p .close1{color:#fff;  margin-left:3px; }
#top h1{width:92px; height:91px; float:left;}

#Menu{float:right; width:932px;  height:120px; }
.side_menu{float:right; margin:20px 10px 7px 0;}
.side_menu li{float:left; padding:5px 10px;}
.side_menu li a{font-weight:bold; color:#ABAAAA;  }
.side_menu li a:hover{color:#edd63d;}

.main_navi{clear:both; width:882px; height:40px; background:url(../images/header_bg02_repeat.png) repeat-x top left; padding-left:50px;}
.main_navi li{float:left; padding: 10px 20px; line-height:20px;}
.main_navi li a{color:#fff;  font-weight:bold ; font-size:13px;}
.main_navi li a:hover{color:#F8E03F;}

/* footer */
#bottom{width:1024px; clear:both; height:190px; background:url(../images/footer_bg.png) no-repeat; }

.guideMenu{width:1024px; height:30px; line-height:30px;}
.guideMenu .nikon{width:350px; float:left; color:#666; padding-left:50px;}
.guideMenu ul{width:400px; float:left;}
.guideMenu ul li{float:left; padding:0 20px;}
.guideMenu ul li a:hover{color:#fff;} 

.guideMenu .sites select{width:180px; height:20px; border:1px solid #666; background:#333; color:#fff;}
.guideMenu .sites select option{background:#333; }

.guideMenu2{width:1024px; height:110px;position:relative;}
.guideMenu2 .footerLogo{clear:both; float:left; margin:15px 20px 0 75px;}
.guideMenu2 address{color:#666; font:normal 12px/1.3em "돋움",dotum,sans-serif; margin-top:18px; width:800px;}
.guideMenu2 .globalSite{ position:absolute; top:30px; right:110px; width:69px; height:35px;}
.guideMenu2 .globalSite a .site1{display:block;}
.guideMenu2 .globalSite a .site2{display:none;}
.guideMenu2 .globalSite a:hover .site1{display:none;}
.guideMenu2 .globalSite a:hover .site2{display:block;}